.columns {
    margin-top: 30px; 
}

p.control {
    margin-bottom: 10px;
}

#draft {
    height: 145px;
}

.section .heading .title {
    margin-bottom: 20px;
}

th.reminder-title {
    width: 70%;
}
